@model TFCLPortal.PostDisbursementForms.Dto.CreatePostDisbursementFormDto
@{
    ViewData["Title"] = "Post Disbursment Form";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<main class='main-content bgc-grey-100' style="padding-top:50px">
    <div class="row page-title">
        <div class="col-md-12 text-left">
            <h4 class="page-title-text">Application Detail</h4>
            <h6 class="page-title-breadcrumbs"><a href="~/Dashboard/Dashboard">Home</a> > Track Loan Application > Application Detail</h6>
        </div>
    </div>

    @if (ViewBag.Error == 0)
    {

        <div class="row" style="padding-top:50px">
            <div class="col-md-12">

            </div>
        </div>

    }
    else
    {
        <div class="row" style="padding-top:50px">
            <div class="col-md-12 text-center">
                <h1><i class="fa fa-times-circle text-danger"></i> No Application Selected ! </h1>
            </div>
        </div>
    }

</main>
