@model TFCLPortal.Targets.Target

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>Create</h2>

<h4>Target</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fk_SdeId" class="control-label"></label>
                <input asp-for="Fk_SdeId" class="form-control" />
                <span asp-validation-for="Fk_SdeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fk_BranchId" class="control-label"></label>
                <input asp-for="Fk_BranchId" class="form-control" />
                <span asp-validation-for="Fk_BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fk_ProductTypeId" class="control-label"></label>
                <input asp-for="Fk_ProductTypeId" class="form-control" />
                <span asp-validation-for="Fk_ProductTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfApplications" class="control-label"></label>
                <input asp-for="NoOfApplications" class="form-control" />
                <span asp-validation-for="NoOfApplications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisbursmentValue" class="control-label"></label>
                <input asp-for="DisbursmentValue" class="form-control" />
                <span asp-validation-for="DisbursmentValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yeild" class="control-label"></label>
                <input asp-for="Yeild" class="form-control" />
                <span asp-validation-for="Yeild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecuredUnsecuredRatio" class="control-label"></label>
                <input asp-for="SecuredUnsecuredRatio" class="form-control" />
                <span asp-validation-for="SecuredUnsecuredRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepeatClients" class="control-label"></label>
                <input asp-for="RepeatClients" class="form-control" />
                <span asp-validation-for="RepeatClients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maturity" class="control-label"></label>
                <input asp-for="Maturity" class="form-control" />
                <span asp-validation-for="Maturity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DeleterUserId" class="control-label"></label>
                <input asp-for="DeleterUserId" class="form-control" />
                <span asp-validation-for="DeleterUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletionTime" class="control-label"></label>
                <input asp-for="DeletionTime" class="form-control" />
                <span asp-validation-for="DeletionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModificationTime" class="control-label"></label>
                <input asp-for="LastModificationTime" class="form-control" />
                <span asp-validation-for="LastModificationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifierUserId" class="control-label"></label>
                <input asp-for="LastModifierUserId" class="form-control" />
                <span asp-validation-for="LastModifierUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorUserId" class="control-label"></label>
                <input asp-for="CreatorUserId" class="form-control" />
                <span asp-validation-for="CreatorUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

