@model TFCLPortal.Targets.Dto.TargetListDto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<main class='main-content bgc-grey-100' style="padding-top:50px">
    <div class="row page-title">
        <div class="col-md-6 text-left">
            <h4 class="page-title-text">
                Are you sure you want to delete this?
            </h4>
        </div>
        <div class="col-md-6 text-right">
            @*<button class="btn btn-sm btn-outline-success" onclick="$('#filterForm').toggle();"><i class="fa fa-filter"></i> Filter Records</button>*@
            <a href="~/Dashboard/Dashboard" class="btn btn-sm btn-outline-success bg1 eft-1" title="Back"><i class="fa fa-angle-double-left"></i> Back To Home </a>
            <a asp-action="Index" class="btn btn-sm btn-outline-success bg1 eft-1"><i class="fa fa-list"></i> Go to List</a>
        </div>
    </div>
    <div class="card p-10 mB-20">
        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Month" class="control-label"></label>
                    <select asp-for="Month" class="form-control" readonly="readonly">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <span asp-validation-for="Month" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <select asp-for="Year" class="form-control" readonly="readonly">
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Employee Name</label>
                    <input type="text" value="@Model.SdeName" class="form-control text-capitalize" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Branch Name</label>
                    <input type="text" value="@Model.BranchName" class="form-control text-capitalize" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Product Name</label>
                    <input type="text" value="@Model.ProductName" class="form-control text-capitalize" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">No. Of Applications</label>
                    <input asp-for="NoOfApplications" class="form-control" readonly="readonly" />
                    <span asp-validation-for="NoOfApplications" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Disbursment Value</label>
                    <input asp-for="DisbursmentValue" class="form-control" readonly="readonly" />
                    <span asp-validation-for="DisbursmentValue" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    <label class="control-label">Yield</label>
                    <input asp-for="Yeild" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Yeild" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Secured/Unsecured Ratio</label>
                    <input asp-for="SecuredUnsecuredRatio" class="form-control" readonly="readonly" />
                    <span asp-validation-for="SecuredUnsecuredRatio" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Repeat Clients</label>
                    <input asp-for="RepeatClients" class="form-control" readonly="readonly" />
                    <span asp-validation-for="RepeatClients" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Maturity" class="control-label"></label>
                    <input asp-for="Maturity" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Maturity" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> 
                    <a asp-action="Index" class="btn btn-primary" >Back to List</a>
                </form>
            </div>
        </div>
    </div>

</main>
