@{
    ViewData["Title"] = "Queries";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<main class='main-content bgc-grey-100' style="padding-top:50px">
    <div class="row page-title">
        <div class="col-md-6 text-left">
            <h4 class="page-title-text">
                Calculation Queries
            </h4>
            <h6 class="page-title-breadcrumbs">
                <a href="~/Dashboard/Dashboard">Home</a> > Calculation Queries
            </h6>
        </div>
        <div class="col-md-6 text-right">
            @*<button class="btn btn-sm btn-outline-success" onclick="$('#filterForm').toggle();"><i class="fa fa-filter"></i> Filter Records</button>*@
            <a href="~/Dashboard/Dashboard" class="btn btn-sm btn-outline-success bg1 eft-1" title="Back"><i class="fa fa-angle-double-left"></i> Back To Home </a>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-12">
            @*<iframe width="100%" style="max-height:800px;min-height:700px;" src="http://localhost/website/CaluclationEntryList.php" frameborder="0" allowFullScreen="true"></iframe>*@
            <iframe width="100%" style="max-height:800px;min-height:700px;" src="https://taleemfinance.com/CaluclationEntryList.php" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</main>
