@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<main class='main-content bgc-grey-100' style="padding-top:50px">

    <div class="card p-10 mB-20">
        <div class="bgc-white bd bdrs-3 p-20 text-center">
            <div class="row">
                     <div class="col-md-6 text-right">
                        @*<button class="btn btn-sm btn-outline-success" onclick="$('#filterForm').toggle();"><i class="fa fa-filter"></i> Filter Records</button>*@
                        @*<a href="~/Accountant/ViewSchedule?ApplicationId=@ViewBag.inp.ApplicationId" target="_blank" class="btn btn-sm btn-outline-success bg1 eft-1" title="View Schedule"><i class="fa fa-calendar"></i> View Schedule </a>*@
                        <a href="~/Accountant/ActiveSchedules" class="btn btn-sm btn-outline-success bg1 eft-1" title="Back"><i class="fa fa-angle-double-left"></i> Back To Loan Repayment Module </a>
                        <a href="~/Dashboard/Dashboard" class="btn btn-sm btn-outline-success bg1 eft-1" title="Back"><i class="fa fa-angle-double-left"></i> Back To Home </a>
                     </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <img src="~/Theame/images/icons/Tick.png" width="25%" />
                </div>
                <div class="col-md-12">
                    <h4 class="page-title-text">
                        @ViewBag.Message
                        
                    </h4>
                </div>
            </div>
        </div>
    </div>
</main>